


.idea/deploymentTargetDropDown.xml
.idea/inspectionProfiles/Project_Default.xml




# ------------------------------------
# ------------------------------------
# Images
# ------------------------------------
# ------------------------------------






# Framework/library-specific data files
*.pickle
*.npy
*.feather
*.parquet

# ------------------------------------
# ------------------------------------
# Ideas
# ------------------------------------
# ------------------------------------

# CMake
cmake-build-*/

# IntelliJ
out/


# Idea
.idea/
**.idea
/.idea
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# تجاهل مخرجات البناء والتحويل البرمجي
/bin/
/dist/
/out/
*.class
*.pyc

# تجاهل ملفات بيئات التطوير المتكاملة ومحررات الأكواد

.vscode/
*.sublime-project
*.iml


# تجاهل المعلومات الحساسة
*.env
*.keystore
*.pem


# Modules

**/node_modules/*
/node_modules
/node_modules/
/dist
/vendor
# mpeltonen/sbt-idea plugin
.idea_modules/



# Program-specific files
*.lock
*.pid
*.sock
*.cache
*.config
*.ini

# Library-specific files
__pycache__/
.mvn/
target/


# Other files
*.ipa



# File-based project format
*.iws






# Environments
.env
.venv
env/
venv/
ENV/

# ------------------------------------
# ------------------------------------
# Others
# ------------------------------------
# ------------------------------------



*.bpl
*.bpi
*.dcp
*.drc
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/



# Paths
.cache



# Cerificates
*.key
*.crt
*.cer
*.der
*.priv


# ------------------------------------
# ------------------------------------
# Webs
# ------------------------------------
# ------------------------------------

**.sitemap.xml


# ------------------------------------
# ------------------------------------
# Nodejs
# ------------------------------------
# ------------------------------------


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz


# ------------------------------------
# ------------------------------------
# Laravel
# ------------------------------------
# ------------------------------------

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot





# ------------------------------------
# ------------------------------------
# Gradle
# ------------------------------------
# ------------------------------------

#
# Gradle files
.gradle
.gradle/
#/gradle/
#/gradlew
#/gradlew.bat
#gradle.properties
#gradlew
#gradlew.bat
/local.properties
keystore.jks
keystore.properties
fastlane/fastlane.json
Gemfile
Gemfile.lock

# Local configuration file (contains paths to the SDK installation)
#local.properties



# Proguard folder generated by Eclipse
proguard/



# ------------------------------------
# ------------------------------------
# Android
# ------------------------------------
# ------------------------------------



*.schemas/


# Keystore files
*.jks


# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild/

# Google Services (e.g. APIs or Firebase)
google-services.json

# Freeline
freeline.py
freeline/
freeline_project_description.json


# Covers files to be ignored for android development using Android Studio.

# Built application files
*.ap_


# Files for the ART/Dalvik VM
*.dex


# Generated files
bin/
gen/



# Signing files
.signing/



# Android Studio
/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
captures/
.navigation/
*/nativetemplates/
**/nativetemplates/
nativetemplates/
/nativetemplates/
*.ipr
*.swp


# Google Services (e.g. APIs or Firebase)
# google-services.json

# Android Patch
gen-external-apklibs



# NDK
obj/


# User-specific configurations
.idea/caches/
.idea/libraries/
.idea/modules/
.idea/shelf/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/navEditor.xml

# Legacy Eclipse project files
.classpath
.project
.cproject
.settings/



# virtual machine crash logs (Reference: http://www.java.com/en/download/help/error_hotspot.xml)
hs_err_pid*



# JIRA plugin
atlassian-ide-plugin.xml

# Mongo Explorer plugin
.idea/mongoSettings.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties





# ------------------------------------
# ------------------------------------
# Delphi
# ------------------------------------
# ------------------------------------

# Delphi autogenerated files (duplicated info)
*.cfg
*.hpp
*Resource.rc

# Delphi local files (user-specific info)
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk

# Delphi history and backups
__history/
__recovery/
*.~*

# ------------------------------------
# ------------------------------------
# C
# ------------------------------------
# ------------------------------------


*.so

# ------------------------------------
# ------------------------------------
# Python
# ------------------------------------
# ------------------------------------

# Distribution / packaging
.Python

develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg*.egg
.installed.cfg
MANIFEST


